.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/images/aboutBg.jpeg") no-repeat center center/cover;
}

.admin-login-card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.admin-login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

.admin-login-card form {
  display: flex;
  flex-direction: column;
}

.admin-login-card label {
  margin-top: 10px;
  font-weight: 500;
  text-align: left;
}

.admin-login-card input {
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.admin-login-card button {
  margin-top: 20px;
  padding: 10px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.admin-login-card button:hover {
  background-color: #005fa3;
}
